.fg{
  margin-top: 2vh;
}
.dt {
  overflow-y: hidden;
  background: url("../img/INDEX/bg.png");
  
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.text{
  color:#ffffff; 
  font-size: 13vw;
  font-family: 'Architects Daughter',cursive;
}
.nav{
  background: url("../img/INDEX/bgNv.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background */
}


.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  animation: spin 3.3s infinite;
  transform: rotate(30deg);
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#fg{
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 5%;
}

.yy{
  margin-top: -3%;
  
}



.descricaoMenu{
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;    
}

.cardMenu{
  margin: 0;
  height: 300px;
  flex-direction: column;
  min-height: 50px;
  max-height: 200px;
}


.if{
  width: 90vw;
  height: 10px;
}
.card-header:after {

  background-color: transparent;

}


.descricaoMenu{
  color: #000000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 5vw;
  padding: 0;
  margin: 0;
  text-align: center;
}
.grupoMenu{
  color: #97989b;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3vw;
  padding: 0;
  margin: 0;
  text-align: center;

}

.dataMenu{
  color: #97989b;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3.5vw;
  padding: 0;
  margin: 0;
  text-align: center;
}

.it{
  display: flex;
  margin-top: -12%;
}
.espacoVazio{
  height: 7vh;
  width: 55vw;
  min-height: 50px;
}
.imagemCompartilhar{
  height: 7vh;
  width: 7vw;
  margin-right: 10%;
}
.imagemFavorito{
  height: 7vh;
  width: 7vw;
}


@media only screen and (max-width: 600px) {
  body {
      background-color: lightblue;
  }
}

