.dt {
  overflow-y: hidden;
  background: url("../img/INDEX/bg.png");
  
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.demo {
  margin-top: 50vh;
  width:30vw; 
  height:30vw;
}
.bot{
  border: 1px solid #ffffff;

}

.text{
  color:#ffffff; 
  font-size: 13vw;
  font-family: 'Architects Daughter',cursive;
}
.nav{
  background: url("../img/INDEX/bgNv.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background */
}
.navBotao {
  background: url("../img/INDEX/bgNv2.png");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background */
  transform: scaleX(-1);
  
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  animation: spin 3.3s infinite;
  transform: rotate(30deg);
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
